{% extends 'base.html' %} {% block main_class %}homepage-main{% endblock %}
<!--ignore-prettier-->
{% block content %}
<div class="text-center">
    <div>
        <h1 class="display-3">Welcome to Boutique Alil</h1>
        <p class="lead">
            Discover the best products and unbeatable prices! Shop now and enjoy
            exclusive offers.
        </p>
        <a href="{% url 'products' %}" class="btn btn-primary btn-lg mt-3">
            Start Shopping
        </a>
    </div>
</div>
{% endblock %}