html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.homepage-main {
    background: url('/static/media/images/background-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
    padding: 0;
    margin: 0;
}

.main-class {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.account-form,
.contact-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 15px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
}

.account-form label,
.contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.card {
    height: 650px; /* Fixe une hauteur uniforme pour toutes les cartes */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Répartit le contenu verticalement */
    margin-bottom: 20px;
}

.card-body {
    flex-grow: 1; /* Permet au contenu de remplir l'espace disponible */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.card-img-top {
    width: 100%; /* Assure que l'image occupe toute la largeur de la carte */
    height: 400px; /* Fixe une hauteur pour uniformiser les images */
    object-fit: cover; /* Coupe l'image pour qu'elle s'adapte à la taille définie */
    border-radius: 5px 5px 0 0; /* Donne un arrondi aux coins supérieurs */
}

.card-footer {
    text-align: center;
    margin-top: auto; /* Garde les boutons au bas de la carte */
}

